<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LIBERAL EARTH</title>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap" rel="stylesheet">
    <link href="/assets/prototype.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <link href="favicon.ico" rel="shortcut icon">
    <%= javascript_pack_tag 'jquery'%>
</head>

<body id="index">
<header>
    <div id="logo"><a href="/">LIBERAL EARTH</a></div>
    <div class="link">
        <ul class="nav">
            <li id="japanese">
                <a id="japanese_top_page">国語</a>
                <div id="japanese_menu">
                    <ul>
                        <li class="japanese_top"><a id="japanese_elem">小学校国語</a></li>
                        <li class="japanese_top"><a id="japanese_j_high">中学校国語</a></li>
                        <li class="japanese_top"><a id="japanese_high">高校国語</a></li>
                    </ul>
                </div>
            </li>
            <li id="math">
                <a id="math_top_page">数学</a>
                <div id="math_menu">
                    <ul>
                        <li class="math_top"><a id="math_elem">小学校算数</a></li>
                        <li class="math_top"><a id="math_j_high">中学校数学</a></li>
                        <li class="math_top"><a id="math_high">高校数学</a></li>
                    </ul>
                </div>
            </li>
            <li id="social">
                <a id="social_top_page">社会</a>
                <div id="social_menu">
                    <ul>
                        <li class="social_top"><a id="social_elem">小学校社会</a></li>
                        <li class="social_top"><a id="social_j_high">中学校社会</a></li>
                        <li class="social_top"><a id="social_high">高校社会</a></li>
                    </ul>
                </div>
            </li>
            <li id="science">
                <a id="science_top_page">理科</a>
                <div id="science_menu">
                    <ul>
                        <li class="science_top"><a id="science_elem">小学校理科</a></li>
                        <li class="science_top"><a id="science_j_high">中学校理科</a></li>
                        <li class="science_top"><a id="science_high">高校理科</a></li>
                    </ul>
                </div>
            </li>
            <li id="english">
                <a id="english_top_page">英語</a>
                <div id="english_menu">
                    <ul>
                        <li class="english_top"><a id="english_elem">小学校英語</a></li>
                        <li class="english_top"><a id="english_j_high">中学校英語</a></li>
                        <li class="english_top"><a id="english_high">高校英語</a></li>
                    </ul>
                </div>
            </li>
        </ul>
</div>

    <button type="button" class="js-btn">
        <span class="btn-line"></span>
    </button>
</header>

<div class="back">
    <div id="page_top"><a href="#"></a></div>
    <div id="title">JAPANESE</div>

    <div class="contents">
        <ul id="subjects">
            <p>私は君たちに学問を薦める</p>
        </ul>


        <%= javascript_pack_tag 'prototype'%>
        <div id="question">
            <div class="quiz">第１問　それが欲しかった。＿＿＿、ボクは盗んだ。</div>
            <input type="button" id="judge_button" value="解答">
            <div id="result">だから</div>
            <hr>

            <div class="quiz">第１問　それが欲しかった。＿＿＿、ボクは盗んだ。</div>
            <form id="form1">
                <input type="text" id="input_message" value="">
                <input type="button" id="input_button" value="解答">
            </form>
            <div id="output_message"></div>
            <hr>

            <div class="quiz">第１問　それが欲しかった。＿＿＿、ボクは盗んだ。</div>
                <input type="button" id="1" value="そして">
                <input type="button" id="2" value="だから">
                <input type="button" id="3" value="しかし">
            </form>
            <div id="output_answer"></div>
            <div id="great_button"></div>
            
            <%= javascript_pack_tag 'App' %>
            <div id="manga_box">
                <img src="/assets/manga.PNG">
            </div>
        </div>    
    </div>
</div>





<footer>
    <small>(C) 2022 LIBERAL EARTH (学習サイト)　All Rights Reserved.</small>
</footer>

</body>
</html>